
  .lang {
    position: fixed;
    width: 5.5%;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 12px;
    flex-wrap: wrap;
    gap: 10%;
  }
  
  .de-en {
    justify-content: center;
    text-decoration: none;
    text-align: center;
  }
  
  .sidebar {
    position: fixed;
    width: 5.5%;
    text-align: center;
  }
  
  .nav-list {
    margin-top: 50px;
  }
  
  .logo {
    margin-top: 5px;
    border-radius: 50px;
    width: 50%;
    height: 50%;
  }
  
  .sidebar li a {
    display: block;
    text-decoration: none;
    background: #222222;
    margin-top: 8px;
   transition: all 300ms linear;
  }
  .sidebar li a:hover {
    justify-content: center;
    text-decoration: none;
    width: 115%;
    opacity: 70%;
    background-color: #000000;
  }
  
  .sidebar li .home {
    color: #ffffff;
    margin-top: 5px;
    background-color: #000000;
    border-top: solid #222222 3px;
    border-bottom: solid #222222 3px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  
  .sidebar li .home:hover {
    color: #ffffff;
    background-color: #222222;
  }
  
  .icon {
    margin-top: 8%;
    margin-bottom: 7%;
    max-width: 22px;
    height: auto;
  }