@import './preset.css';
@import './navbar.css';
@import './footer.css';


h1 {
  text-align: center;
  padding-top: 40px;
  color: #c0c0c0;
  font-family: "Kdam Thmor Pro", "sans-serif";
  font-size: 1.5rem;
  padding-bottom: 15px;
}

h2 {
  margin-top: 5px;
  font-family: "Kdam Thmor Pro", "sans-serif";
  font-weight: 510;
  font-size: 1.2rem;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 1rem;
  text-align: center;
  line-height: 0;
  text-shadow: #000000 3px 3px 0px;
}

.main {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 55px;
  margin-right: 55px;
}

.card {
  max-height: 300px;
  max-width: 600px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
}

.card img {
  height: 100%;
  width: 100%;
}

.card:hover .details {
  opacity: 0.91;
  height: 100%;
}

.details {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(88, 88, 88, 0.31);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.social {
  display: flex;
}


.icons {
  padding: 8px;
  width: 70px;
  height: 70px;
}

.social>.icons>a>img{
width: 55px;
height: 55px;
  transition: all 300ms linear;
}
.social>.icons>a>img:hover{
  width: 50px;
height: 50px;
}


.form {
  position: relative;
  width: 600px;
  margin-top: 10px;
  background: #222222;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 55px;
  margin-right: 55px;
}

.caption {
  margin-top: 15px;
  font-family: "Kdam Thmor Pro", "sans-serif";
  font-weight: 510;
  font-size: 1.2rem;
  color: #fff;
  padding-top: 1rem;
  text-align: center;
  line-height: 0;
}
.content-form {
  display: flex;
  justify-content: center;
}

.form-inner {
  max-width: 600px;
  padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  color: #f1f1ee;
}

.form-inner input {
  display: block;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #f1f1ee;
  line-height: 40px;
  border-width: 0;
  border-radius: 8px;
  font-family: "Kdam Thmor Pro", "sans-serif";
  font-size: 0.8rem;
}

.form-inner select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #f1f1ee;
  line-height: 40px;
  border-width: 0;
  border-radius: 8px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  font-size: 0.95rem;
}

.gender {
  color: #f1f1ee;
  display: flex;
  width: 210px;
  font-family: "Kdam Thmor Pro", "sans-serif";
  font-size: 0.8rem;
  font-weight: 100;
}

textarea {
  padding-top: 5px;
  width: 100%;
  height: 150px;
  color: #000000;
  background-color: #f1f1ee;
}

.form-inner input[type="submit"] {
  width: 100%;
  margin-top: 30px;
  background: #616161;
  border-bottom: 4px solid #4a4a4a;
  border-left: 3px solid #4a4a4a;
  color: #f1f1ee;
  font-size: 0.85rem;
  font-weight: 505;
  font-family: "Kdam Thmor Pro", "sans-serif";
  cursor: pointer;
  transition: all 300ms linear;
}

.form-inner input[type="submit"]:hover {
  background-color: #222222;
  color: #f1f1ee;
  border-bottom: 4px solid #000000;
  border-left: 3px solid #000000;
}

.content-map {
  display: flex;
  justify-content: center;
}

.map {
  padding: 15px 15px 25px 15px;
  position: relative;
  width: 600px;
  height: auto;
  margin-top: 10px;
  background: #222222;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 55px;
  margin-right: 55px;
}

iframe {
  width: 100%;
  height: 450px;
}
