@import './preset.css';
@import './navbar.css';
@import './footer.css';


.sec1-about {
  color: #ffffff;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.main1 p {
  font-weight: 100;
  display: flex;
  text-align: justify;
  margin-bottom: 70px;
  margin-top: 9px;
  line-height: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  font-size: 1.05rem;
}

.main2 p {
  font-weight: 100;
  display: flex;
  text-align: justify;
  margin-bottom: 70px;
  margin-top: 10px;
  line-height: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  font-size: 1.05rem;
}

h1 {
  padding-top: 40px;
  color: #c0c0c0;
  font-family: "Kdam Thmor Pro", "sans-serif";
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  color: #c0c0c0;
  font-family: "Kdam Thmor Pro", "sans-serif";
}

.skill p {
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  padding-left: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.phg {
  background-color: #f1f1ee;
  margin-bottom: 25px;
  margin-top: 8px;
}

.phg1 {
  background-color: #616161;
  height: 28px; 
  width: 75%;
}

.we {
  background-color: #f1f1ee;
  margin-bottom: 20px;
  margin-top: 8px;
}

.we1 {
  background-color: #616161;
  padding-bottom: 20px;
  height: 28px; 
  width: 65%;
}

.ph {
  background-color: #f1f1ee;
  margin-bottom: 20px;
  margin-top: 8px;
}

.ph1 {
  background-color: #616161;
  height: 28px; 
  width: 70%;
}

.dd {
  display: grid;
  place-items: center;
  padding-bottom: 75px;
  padding-top: 50px;
}

.wrapper {
  position: relative;
  perspective: 22em;
  display: grid;
  transform-style: preserve-3d;
}

.card {
  grid-area: 1 / 1;
  height: 100px;
  width: 165px;
  background: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.card .enclosed {
  flex-wrap: wrap;
  line-height: 1;
  color: #ffffff;
  display: flex;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: center;
  font-family: "Kdam Thmor Pro", "sans-serif";
  justify-content: center;
  gap: 10px;
}

.enclosed a {
  border: #c0c0c0 solid 4px;
  border-radius: 30px;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  background-color: #c0c0c0;
}

.enclosed p {
  font-size: 1.1rem;
}

.enclosed a:hover {
  background-color: #616161;
  transform: none;
  transition: 0.3s;
}

.wrapper::before {
  --bw: 6px;
  grid-area: 1 / 1;
  content: "";
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-4px) rotateY(-35deg) rotateX(15deg) scale(1.157);
  pointer-events: none;
  border: var(--bw) solid #c0c0c0;
  box-sizing: content-box;
}

.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
  background-color: #000000;
}

.wrapper > div,
.wrapper:before {
  transition: 0.35s cubic-bezier(0.25, 0.46, 0.45, 1);
}
