footer {
  text-align: center;
  margin: 3% auto 1% auto;
}

footer > img {
  width: 30px;
  height: 30px;
  margin-left: 0.8%;
  cursor: pointer;
  transition: all 500ms linear;
  text-align: center;
}

footer > img:hover {
  transform: rotate(360deg);
}

footer > p {
  margin: 1% 0 0 25px;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
